.product{
    height: 510px;
    width: 300px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    height: 286px;
    width: 286px;
    margin: 7px;
}
.product-info{
    margin:5px;
    line-height: 12px;
}
.product-name{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
margin-top: 2px;
}
.product-btn{
    background: rgba(255, 153, 0, 0.3);
    height: 48px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-btn:hover{
    background: orange;
}