img{
    height: 80px;
    width: 80px;
    margin-left: 10px;
    border-radius: 7px;
}
.review-item{
   display: flex;
   
   align-items: center;
   height: 107px;
   width:571px;
   border:2px solid rgb(205, 205, 205);
   border-radius: 10px;
  margin: 40px;
}
.item{
    line-height: 5px;
    margin-left: 30px;
}
button{
    margin-right: 0px;
}

@media  screen and (max-width:430px) {
    .review-item{
        width: 100px;
        height: 180px;
        display: block;
    }
    .item{
        margin-left: 10px;
        line-height: 2px;
    }
    .item h4{
        font-size: 8px;
    }
    .delete-container button{
        margin-left:28px;
    }
    
}